@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-gray-900 dark:text-gray-100;
  }
}

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }

    body {
      @apply bg-white text-black;
    }

    .print-break-inside-avoid {
      break-inside: avoid;
    }
  }
}
